<%= form_for post, role: "form" do |f| %>
  <% if post.errors.any? %>
    <% post.errors.full_messages.each do |error| %>
      <%= js add_gritter(
        error,
        title: "Error",
        sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rationale %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <% if current_user.admin? || current_user.author?(post) %>
    <%= render partial: "status_selector", locals: { f: f } %>
  <% end %>

  <%= f.submit "Save", class: "btn btn-primary btn-block" %>

<% end %>
