<tr class="post_<%= post.id %>">
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name_with_comma %>
  </td>
  <td>
    <%= post.rationale.truncate(49) %>
  </td>
  <td>
    <%= link_to "Edit", edit_post_path(post),
      class: "btn btn-outline-primary" %>
  </td>
</tr>
